# Name :- Otaradi Vijay
# Enrollment No :- 22SOEIT11020
# Roll No :- 18
# Div ( IT -A )

#Tutorial - 08

#Tutorial 8 SVM for classification

**Consider the Iris dataset which provides measurements of sepal length, sepal width, petal length, and petal width for 50 flowers from each of 3 species. Total rows are 150.**


#Create Binary Class SVM model
1. Reading input from csv file (iris.csv)
2. Do Feature Engineering
3. Create a new column in the dataframe (v_nv), that distinguishes the species - 'versicolor'(marked by 0) from rest.
4. Build Model
5. Visualize Model using mlxtend

#Create Multi Class SVM model
1. Reading input from csv file (iris.csv)
2. Do Feature Engineering
3. Encode the species column with numerical values. And replace label 'setosa' with '0', 'versicolor' with '1' and 'virginica' with '2'.
4. Build Multiclass Model using SVM
5. Visualize Model using mlxtend

In [3]:
#1.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [4]:
#2.

In [5]:
#3.
iris=pd.read_csv('iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
# B -> 01
# Display first 5 rows
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
# B -> 02
# Create binary class column
iris['v_nv'] = iris['species'].apply(lambda x: 0 if x == 'versicolor' else 1)

# Display first 5 rows
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  v_nv
0           5.1          3.5           1.4          0.2  setosa     1
1           4.9          3.0           1.4          0.2  setosa     1
2           4.7          3.2           1.3          0.2  setosa     1
3           4.6          3.1           1.5          0.2  setosa     1
4           5.0          3.6           1.4          0.2  setosa     1

In [8]:
# B -> 03

from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

# Selecting features
X = iris.drop(columns=['species', 'v_nv'])  # Drop non-numeric columns
y = iris['v_nv']

# Split dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train SVM model
svm_model = SVC(kernel='linear')
svm_model.fit(X_train, y_train)

# Predict on test data
y_pred = svm_model.predict(X_test)

# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Binary Classification Accuracy:", accuracy)

Binary Classification Accuracy: 0.8

In [9]:
# B -> 04
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

# Selecting features
X = iris.drop(columns=['species', 'v_nv'])  # Drop non-numeric columns
y = iris['v_nv']

# Split dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train SVM model
svm_model = SVC(kernel='linear')
svm_model.fit(X_train, y_train)

# Predict on test data
y_pred = svm_model.predict(X_test)

# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Binary Classification Accuracy:", accuracy)

Binary Classification Accuracy: 0.8

In [10]:
# B -> 05
import matplotlib.pyplot as plt
from mlxtend.plotting import plot_decision_regions
import numpy as np
from sklearn.svm import SVC

# Reduce dataset to two features for visualization
X_vis = iris[['sepal_length', 'sepal_width']].values
y_vis = iris['v_nv'].values

# Train a new SVM model for visualization
svm_vis = SVC(kernel='linear')
svm_vis.fit(X_vis, y_vis)

# Plot decision boundary
plt.figure(figsize=(8, 6))
plot_decision_regions(X_vis, y_vis, clf=svm_vis, legend=2)
plt.xlabel('Sepal Length')
plt.ylabel('Sepal Width')
plt.title('Binary Classification using SVM')
plt.show()

ModuleNotFoundError: No module named 'mlxtend'

In [ ]:
# C -> 01
from sklearn.preprocessing import LabelEncoder

# Encode species column
le = LabelEncoder()
iris['species_encoded'] = le.fit_transform(iris['species'])

# Display first 5 rows
iris.head()

In [ ]:
# C -> 02
# Selecting features
X_multi = iris.drop(columns=['species', 'species_encoded', 'v_nv'])
y_multi = iris['species_encoded']

# Split dataset
X_train, X_test, y_train, y_test = train_test_split(X_multi, y_multi, test_size=0.2, random_state=42)

# Standardize features
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train Multi-class SVM
svm_multi = SVC(kernel='linear', decision_function_shape='ovr')  # One-vs-Rest
svm_multi.fit(X_train, y_train)

# Predict on test data
y_pred_multi = svm_multi.predict(X_test)

# Accuracy
accuracy_multi = accuracy_score(y_test, y_pred_multi)
print("Multi-Class Classification Accuracy:", accuracy_multi)

In [ ]:
# C -> 03
# Reduce dataset to two features for visualization
X_vis_multi = iris[['sepal_length', 'sepal_width']].values
y_vis_multi = iris['species_encoded'].values

# Train new SVM model for visualization
svm_vis_multi = SVC(kernel='linear', decision_function_shape='ovr')
svm_vis_multi.fit(X_vis_multi, y_vis_multi)

# Plot decision boundary
plt.figure(figsize=(8, 6))
plot_decision_regions(X_vis_multi, y_vis_multi, clf=svm_vis_multi, legend=2)
plt.xlabel('Sepal Length')
plt.ylabel('Sepal Width')
plt.title('Multi-Class Classification using SVM')
plt.show()

In [ ]:
# C -> 04
print("Binary SVM Accuracy:", accuracy)
print("Multi-Class SVM Accuracy:", accuracy_multi)

In [ ]:
# C -> 05
import joblib

# Save the binary SVM model
joblib.dump(svm_model, 'binary_svm_model.pkl')

# Save the multi-class SVM model
joblib.dump(svm_multi, 'multi_class_svm_model.pkl')